.tamu-container {
    display: flex; /* Menampilkan gambar dan informasi dalam satu baris */
    align-items: center; /* Menyelaraskan item secara vertikal */
    margin-bottom: 20px;
}

.tamu-image {
    margin-right: 20px; /* Ruang antara gambar dan informasi */
}

.tamu-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.tamu-info {
    display: flex;
    flex-direction: column; /* Menampilkan nama dan asal secara vertikal */
}

.tamu-info h4 {
    margin: 0;
    font-size: 1.5em;
}

.tamu-info p {
    margin: 5px 0 0 0;
    font-size: 1.1em;
}
